RewriteEngine On
#tmp řešení
RewriteRule ^login pages/login.php
RewriteRule ^dashboard pages/dashboard.php
RewriteRule ^ucty pages/accounts.php
RewriteRule ^kategorie pages/categories.php
RewriteRule ^nastaveni pages/settings.php