@import "config.scss";

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: #f3f5f9;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px !important;
  padding: 0px !important;
  color: $greenText;
}

.login_blok {
  background: #fff;
  width: 390px;
  height: 290px;
  position: fixed;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  list-style: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    float: none;
    list-style: none;

  }
}

.register_blok {
  background: #fff;
  width: 390px;
  height: auto;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  list-style: none;
  margin: 0 auto;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    float: none;
    list-style: none;

  }
}

.blok_text {
  padding: 0 40px;
  position: relative;
  h1 {
    font-size: 45px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    font-weight: 100;
    margin: 0px;
  }
  p {
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 25px;
  }
}

form input {
  &[type=text], &[type=password] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    background: #fff;
    border: none;
    border-bottom: 1px solid #b0bec5;
    color: $greenText;
    outline: none;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:focus {
      border-bottom: 1px solid $green;
    }
  }
}

.button {
  border: none;
  display: block;
  background: #27ae60;
  text-transform: uppercase;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease background;
  -ms-transition: 0.3s ease background;
  -moz-transition: 0.3s ease background;
  -o-transition: 0.3s ease background;
  transition: 0.3s ease background;
  outline: 0;
  font-size: 25px;
  font-weight: 100;
  &:hover, &:active {
    background: #2ecc71;
  }
}

.buttonreg {
  border: none;
  display: block;
  background: #27ae60;
  text-transform: uppercase;
  height: 80px;
  width: 100%;
  position: relative;
  bottom: 0;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease background;
  -ms-transition: 0.3s ease background;
  -moz-transition: 0.3s ease background;
  -o-transition: 0.3s ease background;
  transition: 0.3s ease background;
  outline: 0;
  font-size: 25px;
  font-weight: 100;
  &:hover, &:active {
    background: #2ecc71;
  }
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: $greenText;
}

.err {
  color: #607d8b;
  text-align: center;
  margin: 5px auto;
  display: block;
  min-height: 16px;
  font-style: italic;
}

@media (max-width: 500px) {
  .login_blok {
    width: 100%;
    top: 188px;
  }
  .login_formular {
    background: $green;
    width: 100%;
    height: 100vh;
    margin: 0px !important;
    position: relative;
  }
  .button {
    height: 50px;
    background: $green;
    &:hover, &:active {
      background: $greenHover;
    }
  }
  .container {
    padding: 0;
  }
  body {
    background: #fff;
  }
  .blok_text h1 {
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
    margin-top: 0px;
  }
}

.regbtn {
  text-decoration: none;
  float: right;
  background: $green;
  color: #fff;
  display: block;
  font-weight: 100;
  padding: 10px;
  &:hover {
    background: $greenHover;
  }
}