.g-radek {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 20px;
  display: table;
  width: 100%; }

.sl-1 {
  margin-right: 20px;
  width: calc( ((100% / 12) * 1) - 19px);
  float: left;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%; }

.sl-1:last-child {
  margin-right: 0px;
  width: calc( (((100% / 12) * 1) - 2px) - 11px ); }

@media screen and (max-width: 767px) {
  .sl-1, .sl-1:last-child {
    float: none;
    text-align: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }

  .g-radek {
    margin-bottom: 0; } }
.sl-2 {
  margin-right: 20px;
  width: calc( ((100% / 12) * 2) - 19px);
  float: left;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%; }

.sl-2:last-child {
  margin-right: 0px;
  width: calc( (((100% / 12) * 2) - 2px) - 11px ); }

@media screen and (max-width: 767px) {
  .sl-2, .sl-2:last-child {
    float: none;
    text-align: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }

  .g-radek {
    margin-bottom: 0; } }
.sl-3 {
  margin-right: 20px;
  width: calc( ((100% / 12) * 3) - 19px);
  float: left;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%; }

.sl-3:last-child {
  margin-right: 0px;
  width: calc( (((100% / 12) * 3) - 2px) - 11px ); }

@media screen and (max-width: 767px) {
  .sl-3, .sl-3:last-child {
    float: none;
    text-align: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }

  .g-radek {
    margin-bottom: 0; } }
.sl-4 {
  margin-right: 20px;
  width: calc( ((100% / 12) * 4) - 19px);
  float: left;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%; }

.sl-4:last-child {
  margin-right: 0px;
  width: calc( (((100% / 12) * 4) - 2px) - 11px ); }

@media screen and (max-width: 767px) {
  .sl-4, .sl-4:last-child {
    float: none;
    text-align: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }

  .g-radek {
    margin-bottom: 0; } }
.sl-5 {
  margin-right: 20px;
  width: calc( ((100% / 12) * 5) - 19px);
  float: left;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%; }

.sl-5:last-child {
  margin-right: 0px;
  width: calc( (((100% / 12) * 5) - 2px) - 11px ); }

@media screen and (max-width: 767px) {
  .sl-5, .sl-5:last-child {
    float: none;
    text-align: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }

  .g-radek {
    margin-bottom: 0; } }
.sl-6 {
  margin-right: 20px;
  width: calc( ((100% / 12) * 6) - 19px);
  float: left;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%; }

.sl-6:last-child {
  margin-right: 0px;
  width: calc( (((100% / 12) * 6) - 2px) - 11px ); }

@media screen and (max-width: 767px) {
  .sl-6, .sl-6:last-child {
    float: none;
    text-align: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }

  .g-radek {
    margin-bottom: 0; } }
.sl-7 {
  margin-right: 20px;
  width: calc( ((100% / 12) * 7) - 19px);
  float: left;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%; }

.sl-7:last-child {
  margin-right: 0px;
  width: calc( (((100% / 12) * 7) - 2px) - 11px ); }

@media screen and (max-width: 767px) {
  .sl-7, .sl-7:last-child {
    float: none;
    text-align: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }

  .g-radek {
    margin-bottom: 0; } }
.sl-8 {
  margin-right: 20px;
  width: calc( ((100% / 12) * 8) - 19px);
  float: left;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%; }

.sl-8:last-child {
  margin-right: 0px;
  width: calc( (((100% / 12) * 8) - 2px) - 11px ); }

@media screen and (max-width: 767px) {
  .sl-8, .sl-8:last-child {
    float: none;
    text-align: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }

  .g-radek {
    margin-bottom: 0; } }
.sl-9 {
  margin-right: 20px;
  width: calc( ((100% / 12) * 9) - 19px);
  float: left;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%; }

.sl-9:last-child {
  margin-right: 0px;
  width: calc( (((100% / 12) * 9) - 2px) - 11px ); }

@media screen and (max-width: 767px) {
  .sl-9, .sl-9:last-child {
    float: none;
    text-align: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }

  .g-radek {
    margin-bottom: 0; } }
.sl-10 {
  margin-right: 20px;
  width: calc( ((100% / 12) * 10) - 19px);
  float: left;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%; }

.sl-10:last-child {
  margin-right: 0px;
  width: calc( (((100% / 12) * 10) - 2px) - 11px ); }

@media screen and (max-width: 767px) {
  .sl-10, .sl-10:last-child {
    float: none;
    text-align: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }

  .g-radek {
    margin-bottom: 0; } }
.sl-11 {
  margin-right: 20px;
  width: calc( ((100% / 12) * 11) - 19px);
  float: left;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%; }

.sl-11:last-child {
  margin-right: 0px;
  width: calc( (((100% / 12) * 11) - 2px) - 11px ); }

@media screen and (max-width: 767px) {
  .sl-11, .sl-11:last-child {
    float: none;
    text-align: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }

  .g-radek {
    margin-bottom: 0; } }
.sl-12 {
  margin-right: 20px;
  width: calc( ((100% / 12) * 12) - 19px);
  float: left;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%; }

.sl-12:last-child {
  margin-right: 0px;
  width: calc( (((100% / 12) * 12) - 2px) - 11px ); }

@media screen and (max-width: 767px) {
  .sl-12, .sl-12:last-child {
    float: none;
    text-align: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }

  .g-radek {
    margin-bottom: 0; } }
@media screen and (max-width: 767px) {
  .obal {
    width: 100%;
    margin: 0; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .obal {
    width: 750px;
    margin: 0 auto; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .obal {
    width: 970px;
    margin: 0 auto; } }
@media screen and (min-width: 1200px) {
  .obal {
    width: 1170px;
    margin: 0 auto; } }
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-weight: 600;
  color: #33691E; }

h2 {
  font-weight: 400;
  color: #27ae60;
  font-size: 24px; }

h3 {
  font-weight: 300;
  color: #27ae60; }

@media screen and (max-width: 767px) {
  h1, h2, h3 {
    margin-left: 10px; } }
header {
  width: 100%;
  min-height: 50px;
  background: #27ae60;
  margin-bottom: 20px; }

nav ul {
  margin: 0;
  padding: 0; }

nav ul li {
  list-style: none;
  float: left; }
  nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    line-height: 50px;
    padding: 0 15px;
    -webkit-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    nav ul li a:hover, nav ul li a.active {
      background: #2ecc71;
      cursor: pointer; }

@media screen and (min-width: 630px) {
  nav .mobile--btn {
    display: none; } }
@media screen and (max-width: 630px) {
  nav .mobile--btn {
    display: block;
    font-size: 40px;
    color: #fff;
    right: 10px;
    cursor: pointer;
    line-height: 50px;
    position: absolute; }

  nav ul {
    display: none;
    padding-top: 50px; }

  nav ul li {
    float: none; }
    nav ul li a {
      border-bottom: 1px dotted #2ecc71;
      width: 100%; }
    nav ul li:last-child a {
      border-bottom: 0px; } }
.help {
  font-size: 11px;
  font-style: italic; }

.amcharts-export-menu.amcharts-export-menu-top-right.amExportButton {
  top: -60px; }

@media screen and (max-width: 767px) {
  .amcharts-export-menu.amcharts-export-menu-top-right.amExportButton {
    display: none; } }
.box {
  width: 100%;
  min-height: 150px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 20px 0px;
  box-sizing: border-box;
  border-radius: 3px;
  text-decoration: none; }

.box__header {
  font-size: 17px; }

.box__actions {
  font-size: 15px;
  text-indent: 5px;
  position: absolute;
  top: 0px;
  right: 5px;
  font-weight: 100; }

.box__owner {
  font-size: 12px;
  text-indent: 5px;
  position: absolute;
  top: 0px;
  left: 3px;
  font-weight: 100; }

.box__value {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 300; }

.box__desc {
  font-size: 12px;
  font-weight: 100; }

.account.box a {
  width: 100%;
  min-height: 150px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 20px 0px;
  box-sizing: border-box;
  border-radius: 3px;
  text-decoration: none; }
  .account.box a .box__header {
    font-size: 16px;
    margin-top: 10px; }
  .account.box a .box__actions {
    font-size: 15px;
    text-indent: 5px;
    position: absolute;
    top: 0px;
    right: 5px;
    font-weight: 100; }
  .account.box a .box__owner {
    font-size: 11px;
    text-indent: 5px;
    position: absolute;
    top: 3px;
    left: 3px;
    font-weight: 100; }
  .account.box a .box__value {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 300; }
  .account.box a .box__desc {
    font-size: 12px;
    font-weight: 100; }

.add-new, .showBlock {
  min-height: 60px;
  cursor: pointer; }

.add-new a, .showBlock {
  display: block;
  background: #27ae60;
  min-height: 60px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 20px 0px;
  box-sizing: border-box;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .add-new a:hover, .showBlock:hover {
    background: #2ecc71; }

h2 input {
  font-weight: 400;
  color: #27ae60;
  font-size: 24px;
  border: 0;
  width: 55px;
  border-bottom: 2px dotted #27ae60;
  text-align: center; }
  h2 input:focus {
    outline: none;
    border-bottom: 2px solid #27ae60; }

.white {
  background: #fff;
  color: #33691E;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #D0CDC4;
  resize: vertical;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .white:focus {
    border: 1px solid #27ae60;
    outline: none !important; }

input[type=color].white {
  padding: 0; }

input.invalid, textarea.invalid {
  border: 1px solid #c61931; }

input.valid, textarea.valid {
  border: 1px solid #27ae60; }

.btn--confirm {
  background: #27ae60;
  color: #fff;
  padding: 0 30px;
  line-height: 40px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn--confirm:hover {
    background: #2ecc71; }
.btn--right {
  float: right; }

.block--add-new {
  display: none;
  margin: 0 5px; }
  .block--add-new h2 {
    margin-top: 0; }

.table {
  width: 100%;
  border-collapse: collapse; }
  .table thead th {
    background-color: #fff;
    border-bottom: 2px solid #27ae60; }
  .table tbody tr:nth-child(even) td {
    background: rgba(123, 245, 174, 0.15); }
  .table tbody td {
    padding: 10px;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
