@import "grid/grid";
@import "config";

$cervena: #c61931;
$cervena-sv: #e01c37;
$cervena-tm: #b1162c;

@mixin prefixy($jmeno, $argument) {
  -webkit-#{$jmeno}: #{$argument};
  -ms-#{$jmeno}: #{$argument};
  -moz-#{$jmeno}: #{$argument};
  -o-#{$jmeno}: #{$argument};
  #{$jmeno}: #{$argument};
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 600;
  color: $greenText;
}

h2 {
  font-weight: 400;
  color: $green;
  font-size: 24px;
}

h3 {
  font-weight: 300;
  color: $green;
}

@media screen and (max-width: $scr-xs-max) {
  h1, h2, h3 {
    margin-left: 10px;
  }
}

// NAVIGACE
// ========

header {
  width: 100%;
  min-height: 50px;
  background: $green;
  margin-bottom: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  float: left;

  a {
    color: #fff;
    display: block;
    text-decoration: none;
    line-height: 50px;
    padding: 0 15px;
    @include prefixy(transition, 0.3s all ease);

    &:hover, &.active {
      background: $greenHover;
      cursor: pointer;
    }

  }
}

@media screen and (min-width: 630px) {
  nav .mobile--btn {
    display: none;
  }
}

@media screen and (max-width: 630px) {
  nav .mobile--btn {
    display: block;
    font-size: 40px;
    color: #fff;
    right: 10px;
    cursor: pointer;
    line-height: 50px;
    position: absolute;
  }

  nav ul {
    display: none;
    padding-top: 50px;
  }

  nav ul li {
    float: none;

    a {
      border-bottom: 1px dotted $greenHover;
      width: 100%;
    }

    &:last-child a {
      border-bottom: 0px;
    }
  }

}

// KOMPONENTY
// ==========

.help {
  font-size: 11px;
  font-style: italic;
}

// DASHBORAD
// =========
// Slouží pro rychlé výpisy informací

.amcharts-export-menu.amcharts-export-menu-top-right.amExportButton {
  top: -60px;
}

@media screen and (max-width: $scr-xs-max) {
  .amcharts-export-menu.amcharts-export-menu-top-right.amExportButton {
    display: none;
  }
}

// BOXÍKY
// ------

.box {
  width: 100%;
  min-height: 150px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 20px 0px;
  box-sizing: border-box;
  border-radius: 3px;
  text-decoration: none;
}

.box__header {
  font-size: 17px;
}

.box__actions {
  font-size: 15px;
  text-indent: 5px;
  position: absolute;
  top: 0px;
  right: 5px;
  font-weight: 100;
}

.box__owner {
  font-size: 12px;
  text-indent: 5px;
  position: absolute;
  top: 0px;
  left: 3px;
  font-weight: 100;
}

.add-new {
  min-height: 60px;
  cursor: pointer;
}

.box__value {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 300;
}
.box__desc {
  font-size: 12px;
  font-weight: 100;
}

// BOX ÚČET
// -------


.account.box a{
  width: 100%;
  min-height: 150px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 20px 0px;
  box-sizing: border-box;
  border-radius: 3px;
  text-decoration: none;

  .box__header {
    font-size: 16px;
    margin-top: 10px;
  }

  .box__actions {
    font-size: 15px;
    text-indent: 5px;
    position: absolute;
    top: 0px;
    right: 5px;
    font-weight: 100;
  }

  .box__owner {
    font-size: 11px;
    text-indent: 5px;
    position: absolute;
    top: 3px;
    left: 3px;
    font-weight: 100;
  }

  .box__value {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 300;
  }
  .box__desc {
    font-size: 12px;
    font-weight: 100;
  }
}


// TLAČÍTKO
// --------

.add-new {
  min-height: 60px;
  cursor: pointer;
}

.add-new a{
  display: block;
  background: $green;
  min-height: 60px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 20px 0px;
  box-sizing: border-box;
  border-radius: 3px;
  text-decoration: none;
  @include prefixy(transition, 0.3s all ease);
  &:hover {
    background: $greenHover;
  }
}

// INPUTY V NADPISECH

h2 input {
  font-weight: 400;
  color: $green;
  font-size: 24px;
  border: 0;
  width: 55px;
  border-bottom: 2px dotted $green;
  text-align: center;

  &:focus {
    outline: none;
    border-bottom: 2px solid $green;
  }
}

.white {
  background: #fff;
  color: $greenText;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #D0CDC4;
  resize: vertical;
  @include prefixy("box-sizing", "border-box");
  &:focus {
    border: 1px solid $green;
    outline: none !important;
  }
}
input[type=color].white {
  padding: 0;
}

input.invalid, textarea.invalid {
  border: 1px solid $cervena;
}

input.valid, textarea.valid {
  border: 1px solid $green;
}

.btn {
  &--confirm {
    background: $green;
    color: #fff;
    padding: 0 30px;
    line-height: 40px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    @include prefixy("transition","all 0.3s ease");
    &:hover {
      background: $greenHover;
    }
  }

  &--right{
    float: right;
  }
}